html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}


html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body,
ul,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #14171f;
}

html {
    font-size: 62.5%;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 29px;
    color: #fff;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

button {
    background-color: #14171f;
    border: 1px solid #faba63;
    font-family: 'Italiana', serif;
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 29px;
    margin-top: 3%;
}

/* header styling */

header {
    height: 600px;
    position: relative;
}

.heroParent {
    background-image: url(https://psd.hackeryou.com/assignment1-assets/arora/asset-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.navMain ul {
    display: flex;
    list-style: none;
}

.navMain a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #faba63;
    display: inline-block;
    line-height: 29px;
    padding: 20px;
}

.headerTextParent {
    display: flex;
}

.headerMainText {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: right;
    margin-top: 10%;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 16.2rem;
    text-transform: uppercase;
    color: #fff;
    line-height: 140.4px;
    flex-basis: 40%;
}

.headerMainText p {
    font-family: 'Lato', sans-serif;
    font-size: 4.5rem;
    font-weight: 300;
    color: #faba63;
    line-height: 46px;
}

.navSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 15%;
    right: 3%;
}

i {
    color: #fff;
    font-size: 2rem;
    padding: 5px;
}

/* about section */
.about {
    background-color: #14171f;
    margin: 5% 0;
}

.aboutParent {
    display: flex;
}

.aboutImage {
    flex-basis: 25%;
    margin-right: 5%;
    align-self: center;
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    align-self: center;
}

h2 {
    font-family: 'Italiana', serif;
    font-size: 5.1rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1%;
}

.aboutInfo p {
    font-weight: 300;
    font-size: 2rem;
}

.aboutInfo button,
.blog button {
    width: 30%;
}

/* latest Collection styling */

.latestCollection,
.blog {
    background-color: #201e21;
}

.latestCollection h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 5%;
}

.latestCollection ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latestCollection li {
    flex-basis: 32%;
    margin-bottom: 5%;
}

/* links section styling */
.linkParent {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.catalogueLink,
.eventsLink,
.collaborationsLink {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    flex-basis: 32%;
}

.catalogueLink i,
.eventsLink i,
.collaborationsLink i {
    font-size: 8rem;
    color: #faba63;
    margin: 5% auto;
}

.catalogueLink a,
.eventsLink a,
.collaborationsLink a {
    font-family: 'Italiana', serif;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 0;
    text-align: center;
} 

/* blog section styling */
.blogOne,
.blogTwo {
    display: flex;
}

.blogOneImage,
.blogTwoImage {
    flex-basis: 50%;
    object-fit: cover;
}

.blogOneInfo,
.blogTwoInfo {
    flex-basis: 50%;
    padding: 5% 0 0 5%;
}

